.success-subtitles p {
  font-size: large;
  padding: 0px;
  margin: 0px;
}

.url-field,
.url-field > * {
  opacity: unset !important;
}

.success-card-subtitle a {
  color: white;
  text-decoration-line: underline;
}
